*{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
}

main{
    
    margin: 1.5%;
    display: flex;
    flex-wrap: wrap;
}

.clsEncriptado{
    
    width: 50%;
}

.clsDesencriptado{
    
    width: 50%;
}

.logoAlura{
    width: 100px;
    height: auto;
    margin-top: 20px;
}

.imgFondo{
    width: 400px;
    align-self: center;
}

.textEncriptador{
    border: none;
    color: #0A3871;
    text-transform: lowercase;
    width: 100%;
}

::placeholder{color: #0A3871;}
.textEncriptador:focus{
    outline: none;
}

.textDesncriptador{
    border: none;
    border-radius: 24px;
    color: #0A3871;
    text-align: center;
    width: 100%;
}
.textDesncriptador:focus{
    outline: none;
}

.botones{
    display: flex;
    padding-top: 2%;
    vertical-align: bottom;
}

.btnEncriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 70px;    
    width: 400px;
}

.btnDesencriptar{
    background-color: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 70px;    
    width: 400px;
    margin-left: 1svw;
}

.divImgFondo{
      text-align: center;
}

.divbtnCopiar{
    text-align: center;
}

.btnCopiar{
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 70px;    
    width: 400px;
    margin-left: 1svw;
    
}

.informacion{
    color: #495057;
    font-size: 18px;
    padding-top: 28%;
}

@media screen and (max-width:800px){
    .clsDesencriptado,.clsEncriptado{
        margin-top: 2%;
        width: 100%;
        
    }
    .textDesncriptador,.textEncriptador{
        max-width: 100%;
        max-height: auto;
        font-size: 80%;
        text-align: center;

    }
    .botones{
        margin-left: 0%;
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 2%;
    }
    .btnDesencriptar{
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 0;
    }

}
